html, body{
    height: 100%;
    margin: 0;
}


.title {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px black;
    padding-top: 100px;
    padding-bottom: 50px;
    font-family:'Times New Roman', Times, serif;
    font-size: 70px;

    opacity: 0;
    animation: fadeInText 1.75s ease-out 0.3s forwards;
}

.parallax_background{
    position: relative;

    width: 100%;
    height: 450px;
    min-height: 100vh;
    

    /*Background Image used for entire webpage*/
    background-image: url('Images/filipinoculture.png');

    /* Applies the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_background > * {
    position: relative;
    z-index: 2;
}

.parallax_background::before{
    content: '';
    inset: 0;
    position: absolute;
    background: #0000008c;
    z-index: 1;
}

@keyframes fadeInText{
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}