html, body{
    height: 100%;
    margin: 0;
}

body, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #6a00ff;
    text-decoration: underline;
}


.title {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px black;
    padding-top: 1px;
    padding-bottom: 50px;
    font-family:'Times New Roman', Times, serif;
    font-size: 70px;

    opacity: 0;
    animation: fadeInText 1.75s ease-out 0.3s forwards;
}

.home_bg, .about_bg, .contact_bg{
    position: relative;
    width: 100%;
    min-height: 100vh;

    /* Applies the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Various background images for Home, About, & Contact page */


/*Background Image used for entire webpage*/

.home_bg{
     background-image: url('Images/filipinoculture.png');
}

.about_bg{
     background-image: url('Images/fan.png');
}

.contact_bg{
     background-image: url('Images/ocean.png');
}



/* For dark overlay */

.home_bg::before, .about_bg::before, .contact_bg::before{
    content: '';
    inset: 0;
    position: absolute;
    background: #0000008c;
    z-index: 1;
}

/* For inner content above dark overlay */
.bg-inner{
    color: white;
    position: relative;
    z-index: 2;
}

.bg-inner h1{
    margin: 0;
    font-size: 5rem;
    text-shadow: 0 0 15px #000000b3;
}

.bg-inner p{
    max-width: 800px;
    font-size: 1.20rem;
    margin: 20px auto 0;
    text-align: center;
}

.profile-img{
    padding-top: 50px;
    width: 390px;
    height: 400px;
    object-fit: cover;

}

.profile-container{
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filam-img{
    display: block;
    padding-top: 50px;
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;

}


/* For fade-in text animation */
@keyframes fadeInText{
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}