html, body{
    height: 100%;
    margin: 0;
}

.parallax_background{
    position: relative;
    left: 0;

    width: 100%;
    height: 450px;
    min-height: 100vh;

    filter:brightness(50%);
    

    /*Background Image used for entire webpage*/
    background-image: url('Images/filipinoculture.png');

    /* Applies the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}